/*
Note: Chris, Nav bar in at the top of the screen on the header
Link websites to nav bar
*/

/*classes*/
.dreamR {
    color: white;
    background-image: linear-gradient(to right, #6740DC, #421DAF);
    border-radius: 15px;
    padding-left: 5%;
    border: none;
}

.center{
    text-align: center;
}

.btn {
    margin: 60px;
    width: 120x;
    height: 55px;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

/*Place holders for button styling code*/
.gb {
    border: none;
    background-image: radial-gradient(navy, lightblue);
    box-shadow: 0 0 10px lightblue;
}
.gb:hover {
    box-shadow: 
    0 0 10px lightblue,
    0 0 24px lightblue, 
    0 0 38px lightblue;
}

.cb{
    background-image: radial-gradient(gold, goldenrod);
    border: none;
    box-shadow: 0 0 10px yellow;
}
.cb:hover{
    background-image: radial-gradient(orange, yellow);
    border: 1.5px yellow;
    box-shadow: 
    0 0 10px gold,
    0 0 24px gold,
    0 0 38px gold;

}


.jb{
    background-color: magenta;
    color: rgb(232, 252, 250);
    text-shadow: 0 0 10px magenta;
    border: 1.5px black;
    box-shadow: 
    0 0 10px magenta,
    0 0 15px magenta;
}
.jb:hover {
    background-image: linear-gradient(to bottom, magenta, rgb(26, 5, 26));
    box-shadow: 
    0 0 10px magenta,
    0 0 24px magenta,
    0 0 38px magenta;

}

/*orange and purple*/
.ab{
    border: none;
    background-image: linear-gradient(to bottom, orange, purple);
    box-shadow: 0 0 10px orange;
    z-index: 2;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.ab:hover{
    background-color: orangered;
    box-shadow: 
    0 0 10px orange,
    0 0 24px orange,
    0 0 38px orange;
}


/*ID's*/

#glowFX {
    position: relative;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    text-shadow: 
          0 0 5px #0bf4f3,
          0 0 10px #0bf4f3,
          0 0 20px #0bf4f3,
          0 0 40px #0bf4f3,
          0 0 80px #0bf4f3;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom, navy, lightblue);
    background-repeat: repeat-x;
}